<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Crypto Account</title>
</head>
<body>
<!-- Navbar -->
    <!-- Image and text --> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="home.html">
          <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">PeriBank
        </a>
        <!-- Menu section -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-header collapse navbar-collapse" id="navbarNav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="justify-content-end navbar-header collapse navbar-collapse" id="navbarNav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="profile.html">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Logout </a>
            </li>
          </ul>
        </div>
    </nav>
    <!-- Navbar end -->

    <!-- start currency rates -->
    <div class="currency_rate">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4><span>USD</span> 123456.09 <br> Last Price </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>USD 123456.09 <br> Daily Change </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>USD 123456.09 <br> 24 Hour Low </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>USD 123456.09 <br> 24 Hour High </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>USD 123456.09 <br> Today Open </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>BTC 09876 <br> 24 hour volume </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- end currency rates -->
        
    <!-- Accounts on PeriBANK -->
    <div class="wallet">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <p>What transaction would you like to do today?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end wallet -->

    <!-- graf -->
    <div class="graf">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs md-tabs graf_tab" id="myTabMD" role="tablist">
                        <li>
                            <a class="nav-link active" id="home-tab-md" data-toggle="tab" href="#tab1" role="tab" aria-controls="home-md" aria-selected="true">View Balance</a>
                        </li>
                        <li>
                            <a class="nav-link" id="profile-tab-md" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile-md" aria-selected="false">Deposit</a>
                        </li>
                        <li>
                            <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#tab3" role="tab" aria-controls="contact-md" aria-selected="false">Withdraw</a>
                        </li>
                        <li>
                            <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#tab4" role="tab" aria-controls="contact-md" aria-selected="false">Transfer</a>
                        </li>
                        <li>
                            <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#tab5" role="tab" aria-controls="contact-md" aria-selected="false">Request Statement</a>
                        </li>
                    </ul>
                    <!-- View Balance -->
                    <div class="tab-content card  graf_content" id="myTabContentMD">
                        <div class="tab-pane fade show active padi" id="tab1" role="tabpanel" aria-labelledby="home-tab-md">
                            <div class=" col-md-10 offset-md-1">
                                <form id="request" class="main_form">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="contactus" placeholder="Email" type="type" name="Email">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                        </div>
                                        <div class="col-md-6">
                                            <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="send_btn">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <!-- Deposit -->
                    <div class="tab-pane fade padi" id="tab2" role="tabpanel" aria-labelledby="profile-tab-md">
                        <div class=" col-md-10 offset-md-1">
                            <form id="request" class="main_form">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Email" type="type" name="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="send_btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Withdraw -->
                    <div class="tab-pane fade padi" id="tab3" role="tabpanel" aria-labelledby="contact-tab-md">
                        <div class=" col-md-10 offset-md-1">
                            <form id="request" class="main_form">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Email" type="type" name="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="send_btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Transfer -->
                    <div class="tab-pane fade padi" id="tab4" role="tabpanel" aria-labelledby="contact-tab-md">
                        <div class=" col-md-10 offset-md-1">
                            <form id="request" class="main_form">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Email" type="type" name="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="send_btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>    
                    <!-- Request Statement -->
                    <div class="tab-pane fade padi" id="tab5" role="tabpanel" aria-labelledby="contact-tab-md">
                        <div class=" col-md-10 offset-md-1">
                            <form id="request" class="main_form">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Email" type="type" name="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="send_btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end graf -->

<!-- footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="logo_bottom" href="{{ url_for('index')}}">PeriBANK</a>
                </div>
                <div class="col-sm-6">
              <div class="Informa conta ">
                 <h3>Contact Us</h3>
                 <ul>
                    <li> <a href="Javascript:void(0) "> <i class="fa fa-map-marker " aria-hidden="true "></i> Location
                       </a>
                    </li>
                    <li> <a href="Javascript:void(0) "><i class="fa fa-phone " aria-hidden="true "></i> Call +01 1234567890
                       </a>
                    </li>
                    <li> <a href="Javascript:void(0) "> <i class="fa fa-envelope " aria-hidden="true "></i> demo@gmail.com
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           <div class="col-sm-6 ">
              <div class="Informa ">
                 <h3>Newsletter</h3>
                 <form class="newslatter_form ">
                    <input class="ente " placeholder="Enter your email " type="text " name="Enter your email ">
                    <button class="subs_btn ">Subscribe</button>
                 </form>
              </div>
           </div>
        </div>
        <div class="copyright text_align_center ">
           <div class="container ">
              <div class="row ">
                 <div class="col-md-12 ">
                    <p>© 2023 All Rights Reserved. Design by Joana Lawer  <a href="https://html.design/ "> Peripheral Bank</a></p>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  </footer>
  <!-- end footer -->
  <!-- Javascript files -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script src="static/js/custom.js "></script>

</body>
</html>